ENVIRONMENT="development or production"
SERVER_HOST="server host"
SERVER_PORT="server port"
DB_HOST="db host e.g localhost"
DB_PORT="db port"
DB_USER="db user e.g posgres"
DB_PASSWORD="password"
DB_NAME="name"
DB_SSLMODE="disable or enable"
DB_MAX_OPEN_CONNS="1"
DB_MAX_IDLE_CONNS="1"
DB_CONN_MAX_LIFETIME="timeframe"
JWT_SECRET_KEY="secure key"
JWT_TOKEN_EXPIRATION="timeframe"
